name: Python CI

on:
  push:
    branches: [ "master", "lab03" ]
    paths:
      - "app_python/**"
      - ".github/workflows/python-ci.yml"
  pull_request:
    branches: [ "master", "lab03" ]
    paths:
      - "app_python/**"
      - ".github/workflows/python-ci.yml"

concurrency:
  group: python-ci-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app_python

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12", "3.13"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: |
            app_python/requirements.txt

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint (ruff)
        run: |
          ruff check .

      - name: Run tests
        run: |
          pytest -q

  docker:
    needs: test
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && (github.ref_name == 'main' || github.ref_name == 'master' || github.ref_name == 'lab03')

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set version (CalVer)
        id: ver
        run: |
          DATE=$(date -u +%Y.%m.%d)
          SHA=${GITHUB_SHA::7}
          echo "version=$DATE-$SHA" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./app_python
          file: ./app_python/Dockerfile
          push: true
          tags: |
            wkwtfigo/devops-info-service:latest
            wkwtfigo/devops-info-service:${{ steps.ver.outputs.version }}

      - name: Snyk scan (dependencies)
        uses: snyk/actions/python@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: test
          args: --file=app_python/requirements.txt --severity-threshold=high
